//color
$pure:				#FFF;
$white:				#EAEAE1;
$black:				#3E3E29;
$red:				#EC6961;
$blue:				#849EA2;
$back:				#D2DED2;
$fore:				#414E57;

//basic
$font:				"PTSans","Arial","Helvetica","sans-serif";
$chinese:			"幼圆";
$text-size:			16px;
$text-color:		$black;
$radius:			5px;
$line-height:		1.5em;
$background:		$back;
