@font-face {
	font-family: '幼圆';
	font-style: normal;
	font-weight: 400;
	src: local('幼圆'); url('/youyuan.ttf') format('truetype');
}

html {
	background: $background;
}

body {
	font-family: $font;
	margin: 0;
	padding: 0;
	color: $text-color;
	font-size: $text-size;
	line-height: $line-height;
}

p, pre, h1, h2, h3, h4, h5 {
	padding: 0;
	margin: 0;
}

a {
	color: $blue;
	text-decoration: none;
	&:hover, &:focus {
		color: lighten($blue, 10%);
		text-decoration: underline;
	}
}

.hero, h1 {
	font-size: 2.5em;
	line-height: 1.5em;
	margin-bottom: 0.6em;
}

h2 {
	font-size: 1.6em;
	line-height: 1.5em;
	margin-bottom: 0.5em;
}

.btn {
	background: transparent
				linear-gradient($blue, darken($blue, 15%))
				repeat scroll;
	border-radius: $radius;
	box-shadow: 0px -1px 0px darken($blue, 30%) inset,
				0px 2px 3px rgba(0, 0, 0, 0.3);
	border: 0px none;

	margin-bottom: 24px;
	margin-right: 10px;
	padding: 0 20px;

	font-size: 1.25em;
	line-height: 42px;
	color: $pure;
	font-weight: bold;

	display: inline-block;

	&:hover, &:focus {
		background: transparent
					linear-gradient(lighten($blue, 10%), $blue)
					repeat scroll;

		color: $pure;
		text-decoration: none;
	}

	&:active {
		background: transparent
					linear-gradient(darken($blue, 10%), darken($blue, 25%))
					repeat scroll;

		color: $pure;
	}
}

.center {
	text-align: center;
}

.cell {
	margin: 0 auto;
	width: 960px;
}

.main {
	position: relative;

	img {
		position: absolute;
		z-index: -100;
	}

	input.box, textarea.box {
		font-size: 30px;
		line-height: 1em;
		border: 0px none;
		background: transparent;
		position: absolute;
		font-family:  $chinese;
		color: $fore;
		width: 250px;
		resize: none;

		&.long {
			width: 500px;
		}
	}

	.right {
		position: absolute;
		right: 40px;
		top: 20px;
	}
}

input.typical {
	font-size: 1.6em;
	line-height: 1.2em;
	width: 100%;
	margin-bottom: 0.6em;
	display: block;
}

.single {
	padding-top: 100px;
}

.box {
	float: left;
	width: 50%;

	img {
		width: 100%;
	}
}
